@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1sv59b');
  src:  url('fonts/icomoon.eot?1sv59b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1sv59b') format('truetype'),
    url('fonts/icomoon.woff?1sv59b') format('woff'),
    url('fonts/icomoon.svg?1sv59b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-1:before {
  content: "\e900";
}
.icon-add-user:before {
  content: "\e901";
}
.icon-add:before {
  content: "\e902";
}
.icon-approved:before {
  content: "\e903";
}
.icon-back:before {
  content: "\e904";
}
.icon-basic-data:before {
  content: "\e905";
}
.icon-Batch-deleting:before {
  content: "\e906";
}
.icon-C-category:before {
  content: "\e907";
}
.icon-Cancel-billing-:before {
  content: "\e908";
}
.icon-cancel-SVN:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e90a";
}
.icon-Compare-bills-对账:before {
  content: "\e90b";
}
.icon-confirm:before {
  content: "\e90c";
}
.icon-Counter-trial:before {
  content: "\e90d";
}
.icon-custom:before {
  content: "\e90e";
}
.icon-delete-1:before {
  content: "\e90f";
}
.icon-delete:before {
  content: "\e910";
}
.icon-down-arrow:before {
  content: "\e911";
}
.icon-down:before {
  content: "\e912";
}
.icon-download:before {
  content: "\e913";
}
.icon-edit-list:before {
  content: "\e914";
  color: #faad14;
}
.icon-edit-删除:before {
  content: "\e915";
  color: #f5222d;
}
.icon-edit:before {
  content: "\e916";
}
.icon-enlarge-放大:before {
  content: "\e917";
}
.icon-error-big:before {
  content: "\e918";
  color: #f5222d;
}
.icon-error:before {
  content: "\e919";
  color: #f5222d;
}
.icon-exit:before {
  content: "\e91a";
}
.icon-export:before {
  content: "\e91b";
}
.icon-Finance财务管理:before {
  content: "\e91c";
}
.icon-folding:before {
  content: "\e91d";
}
.icon-freeze:before {
  content: "\e91e";
}
.icon-help-big:before {
  content: "\e91f";
  color: #1890ff;
}
.icon-help:before {
  content: "\e920";
  color: #1890ff;
}
.icon-Ignore-passback-:before {
  content: "\e921";
}
.icon-import:before {
  content: "\e922";
}
.icon-index:before {
  content: "\e923";
}
.icon-into-warehouse:before {
  content: "\e924";
}
.icon-inventory:before {
  content: "\e925";
}
.icon-left-arrow:before {
  content: "\e926";
}
.icon-Left-turn-左转:before {
  content: "\e927";
}
.icon-locking:before {
  content: "\e928";
}
.icon-multiple-files:before {
  content: "\e929";
}
.icon-narrow-缩小:before {
  content: "\e92a";
}
.icon-note:before {
  content: "\e92b";
}
.icon-OK:before {
  content: "\e92c";
}
.icon-outbound:before {
  content: "\e92d";
}
.icon-packing:before {
  content: "\e92e";
}
.icon-photograph-拍照:before {
  content: "\e92f";
}
.icon-print-打印:before {
  content: "\e930";
}
.icon-project:before {
  content: "\e931";
  color: #f08519;
}
.icon-reduction-还原:before {
  content: "\e932";
}
.icon-refresh:before {
  content: "\e933";
}
.icon-reset-password:before {
  content: "\e934";
}
.icon-reset:before {
  content: "\e935";
}
.icon-restore-SVN:before {
  content: "\e936";
}
.icon-review:before {
  content: "\e937";
}
.icon-right-turn-右转:before {
  content: "\e938";
}
.icon-right-arrow:before {
  content: "\e939";
}
.icon-save:before {
  content: "\e93a";
}
.icon-search-service:before {
  content: "\e93b";
}
.icon-search:before {
  content: "\e93c";
}
.icon-see-list:before {
  content: "\e93d";
  color: #4190db;
}
.icon-setting .path1:before {
  content: "\e93e";
  color: rgb(228, 228, 228);
}
.icon-setting .path2:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(216, 216, 216);
}
.icon-size:before {
  content: "\e940";
}
.icon-standard-quotation:before {
  content: "\e941";
}
.icon-Statistics:before {
  content: "\e942";
}
.icon-success-big:before {
  content: "\e943";
  color: #52c41a;
}
.icon-success:before {
  content: "\e944";
  color: #52c41a;
}
.icon-SUK:before {
  content: "\e945";
}
.icon-To-be-audited:before {
  content: "\e946";
}
.icon-Transfer-storehouse:before {
  content: "\e947";
}
.icon-transfers:before {
  content: "\e948";
}
.icon-two-directory:before {
  content: "\e949";
}
.icon-unfold:before {
  content: "\e94a";
}
.icon-unfreeze:before {
  content: "\e94b";
}
.icon-Unlock:before {
  content: "\e94c";
}
.icon-unsold:before {
  content: "\e94d";
}
.icon-up-arrow:before {
  content: "\e94e";
}
.icon-upload:before {
  content: "\e94f";
}
.icon-user-head:before {
  content: "\e950";
  color: #e4e4e4;
}
.icon-VIP-batch:before {
  content: "\e951";
}
.icon-warn-big:before {
  content: "\e952";
  color: #faad14;
}
.icon-warn:before {
  content: "\e953";
  color: #faad14;
}
.icon-uniE954:before {
  content: "\e954";
}
.icon-1:before {
  content: "\e955";
}
.icon-2:before {
  content: "\e956";
}
.icon-差异对比:before {
  content: "\e957";
}
.icon-订单匹配:before {
  content: "\e958";
}
.icon-订单无效:before {
  content: "\e959";
}
.icon-混单匹配:before {
  content: "\e95a";
}
.icon-计算格位:before {
  content: "\e95b";
}
.icon-结单:before {
  content: "\e95c";
}
.icon-库存对比:before {
  content: "\e95d";
}
.icon-路由信息:before {
  content: "\e95e";
}
.icon-11:before {
  content: "\e95f";
}
.icon-取消订单:before {
  content: "\e960";
}
.icon-权限管理:before {
  content: "\e961";
}
.icon-入库状态:before {
  content: "\e962";
}
.icon-15:before {
  content: "\e963";
}
.icon-16:before {
  content: "\e964";
}
.icon-账单-Bill:before {
  content: "\e965";
}
.icon-重新回传:before {
  content: "\e966";
}
